<div [formGroup]="form">

    <label [attr.for]="question.key">{{question.label}}</label>
  
    <div [ngSwitch]="question.type">
  
      <input *ngSwitchCase="'textfield'"
              [id]="question.key"
              [formControlName]="question.key"
              />
  
      <select [id]="question.key" *ngSwitchCase="'select'" [formControlName]="question.key">
        <option *ngFor="let opt of question.data.values" [value]="opt.value">{{opt.label}}</option>
      </select>
  
    </div>
  
    <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
  </div>